/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: visible; /* Prevent scroll on narrow devices */
  margin-bottom: 40px;
}

/*Header*/
#header {
    position: relative;
    width: 100%;
    z-index: 999;
    max-height: 150px;
    padding: 0px 0px 30px 10px;
    background-color: dodgerblue;

}
.cshead {
	position: relative;
	height: auto;
	width: auto;
	max-height: 300px;
	max-width: 250px;
}

/* Jumbotron */
.jumbotron {
    position: inherit;
    padding: 0px 0px 0px 10px;
    display: block;
    max-height: 150px;
    background-color: dodgerblue;
    background-size: cover;
}
.jumbotron img {
    position: inherit;
    max-height: 135px;
    padding: 2px 0px 0px 10px;
    top: 10px;
    left: 0px;
}

/* Glyphicon */
.glyphicon-ok {
  padding-left: 15px;
}

/* A */
a:hover {
  color: #EEB111;
}
.underline a {
  text-decoration: underline;
}

/* Nav Bar */
.navbar-inverse .navbar-nav > li > a{
    color: white;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
  white-space: nowrap;
}
.navbar-nav > li {
  margin-left: 1em;
  margin-right: 1em;
  font-weight: bold;
  -webkit-transition: all ease .25s;
  -moz-transition: all ease .25s;
  -o-transition: all ease .25s;
  transition: all ease .25s;
}
.nav-tabs {
	border-bottom-color: ghostwhite;
}
.nav-tabs > li > a {
	color: dodgerblue;
}
.navbar-nav > li:hover {
	background-color:	#EEB111;
	text-shadow:		1px 0px 1px black;
}
.navbar-nav > li:active {
  background-color: #A77C0C;
}
.navbar .container-fluid {
	margin: auto;
}
.nav-tabs.nav-justified {
    width: inherit;
}

/*.nav-tabs.nav-justified > li {
    width: inherit;
}*/
#sidebar {
    float: left;
    padding-left: 0px;
    padding-right: 0px;
}

/* Dropdown Menu */
.dropdown-menu li a:hover {
  background-color: #f1c141;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -o-transition: all ease .4s;
  transition: all ease .4s;
}
.dropdown-menu {
    text-align: center;
}
.dropdown > .caret {
  background-color: #A77C0C;
}

/* Blockquote */
.blockquote {
  padding-left: 2.2em;
}

/* List Groups */
.list-group{
    margin-bottom: 50px;
	height: 100%;
}
.list-group-item {
  text-align: center;
  padding: 15px 20px;
  height: 100%;
}
.list-group-item.active {
	background-color: dodgerblue;
	border-color: black;
	-webkit-transition: all ease .15s;
	   -moz-transition: all ease .15s;
		 -o-transition: all ease .15s;
			transition: all ease .15s;
}
.list-group-item.active:hover {
	background-color:	#EEB111;
	text-shadow:		1px 0px 1px black;
}

/* Container */
.container-fluid {

}
.container .container-fluid > .tab-content {
	-webkit-transition: all ease 5s;
		 -o-transition: all ease 5s;
		    transition: all ease 5s;
}

/* Panel */
.panel-info {
	border-color: slategray;
	border-radius: 0px 10px 10px 10px;
	padding: 5px 5px 5px 5px;
}
.panel-info > .panel-heading {
	color:				white;
	border-radius:		0px 5px 5px 5px;
	background-color:	dodgerblue;
	border-color:		slategray;
	font-size:			larger;
    text-align:         center;
	text-shadow:		1px 0px 1px black;
	padding-top:		10px;
    padding-bottom:     10px;
	height:				100px;
}
.panel-default > .panel-heading {
	color: black;
	text-shadow: 0px 0px 0px grey;
	margin-bottom: 0px;
}
.panel-group {
    margin: 10px 15px 30px 15px;
}
.panel-title {
    margin-left: 15px;
    margin-bottom: 15px;
}


#contentdiv {
	border-top: 1px dashed crimson;
    padding-left: 25px;
    padding-right: 25px;
}
#ContentHeader {
	border-top: 1px solid black;
	border-radius: 15px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	font-size: larger;
}
.collapse > .panel > .panel-heading {
  cursor: pointer;
}

/* Faculty Page: Default Attributes */
.panel-small {
  height: auto;
}

/* Buttons */
.btn {
    color: white;
    background-color: dodgerblue;
    border-color: black;
    margin: 10px;
}
.btn:hover {
	color: black;
	background-color: #ddd;
}

/* Footer */
footer {
	padding: 30px 0;
	padding-top: 20px;
}
footer a {
  color: #777;
}

/* Bottom Nav Bar */
.navbar-fixed-bottom {
  height: 35px;
  font-size: smaller;
  text-align: center;
  padding-top: 10px;

}
.navbar {
  min-height: 20px;
}

/* Text Attributes */
.col-xs-12.col-sm-8.panel-sm {
    bottom: 15px;
    padding-right: 0px;
}
h4 {
    font-size: 1.25em;
}
hr {
    margin-top:     10px;
    margin-bottom:  10px;
}

/* Table Attributes */
.table-responsive {
    padding: 10px;
    width: 100%;
}
.table > tbody > tr > td {
    padding: 5px;
    vertical-align: middle;
}
.input-group {
    text-align: center;
}

#showappts {
    color: black;
    background-color: lightsteelblue;
    border-radius: 5px;
}
#cancel {
    color: black;
    background-color: #ddd;
    padding: 10px 0px 0px 10px;
    border-radius: 5px;
}
#cancel > p {
    text-align: center;
}

/* Button Attributes */
.col-xs-12.col-sm-4.button {
    left: 150px;
}
.col-xs-12 > a button {
  margin-left: 0px;
}
.col-xs-12 > a:hover {
  text-decoration: none;
}
.col-xs-12.col-sm-4.button {
	left: 0px;
}
.col-xs-12 > a button {
	margin: auto;
}

/* Images */
img.center-block.img-circle.img-thumbnail.img-responsive {
  height: 100%;
  width: 100%;
}



/*							Mobile Specs							*/
/* ---------------------------------------------------------------- */

/* Header */
@media screen and (max-width: 768px) {
    #header {
        padding: 0px 0px 15px 10px;
    }
    .jumbotron {
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
    .jumbotron img {
        margin: 0px 0px 0px 0px;
    }
}

/* Container */
@media (min-width: 1200px) {
	.container {
/*		width: 970px;*/
		display: table;

	}
}

/*  Dropdown Menu for collapsed navbar on mobile */
@media (min-width: 768px) {
    .navbar-nav > li > .dropdown-menu{
        margin-left: -63px;
        text-align: center;
    }
	.navbar-nav {
		margin: 7.5px -20px;
	}    
}
@media screen and (max-width: 768px) {
     .navbar-nav > li:hover{
         background-color: #034B86! important;
     }
     .navbar-nav > li:active{
         background-color: #034B86! important;
     }
     .dropdown-menu > li > a:hover{
         background-color: #034B86! important;
     }
     .dropdown-menu{
         text-align: center! important;
         background-color: #222222! important;
     }
     .navbar-nav .open .dropdown-menu > li > a{
         color: white;
     }
     
}
@media (min-width: 768px) and (max-width: 991px) {
	.container > #navbar {
		padding: inherit;
		margin: inherit;
	}
	.navbar-nav > li {
		display: flex;
		margin: auto;
	}
}

/* Off Canvas  */
@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
	}

	.row-offcanvas-right {
		right: 0;
	}

	.row-offcanvas-left {
		left: 0;
	}

	.row-offcanvas-right .sidebar-offcanvas {
		right: 100%; /* 6 columns */
	}

	.row-offcanvas-left .sidebar-offcanvas {
		left: 100%; /* 6 columns */
	}

	.row-offcanvas-right.active {
		left: 50%; /* 6 columns */
	}

	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */

	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 40%; /* 6 columns */
	}
}

/* Attributes for responsiveness */
@media (max-width: 1200px) {	
    .col-xs-12.col-sm-4.button {
        left: 135px;
    }
    .col-xs-12 > a button {
    width: auto;
  }
    .panel-sm {
    height: auto;
  }
    .panel-sm p {
    font-size: .9em;
  }
    .panel-sm h2 {
    font-size: 25px;
  }
    img.center-block.img-circle.img-thumbnail.img-responsive {
        height: 100%;
        width: 100%;
    }
}
@media (max-width: 991px) {
    .panel-sm p {
        font-size: .8em;
    }
    .panel-sm h2 {
        font-size: 20px;
    }
    .panel-default {
        height: auto;
    }

    /* Image Responsiveness */
    .col-xs-12.col-sm-4.text-center {
        width: 33%;
        left: -2%;
        padding: 1px;
    }
    img.center-block.img-circle.img-thumbnail.img-responsive {
        height: 100%;
    }

    /* Text Attributes */
    .col-xs-12.col-sm-8.panel-sm {
        padding-right: 0px;
        padding-left: 10px;
    }

    /* Button Attributes */
    .col-xs-12.col-sm-4.button {
        left: 80px;
    }
    .col-xs-12 > a button {
        margin-left: 0px;
    }
    .btn {
        padding: 0px 5px;
        margin: 10px 0px 10px 7px;
    }

}
@media (max-width: 767px) {
    .panel-info > .panel-heading {
        height: auto;
    }
	.panel-body {
        padding: 5px;
    }
    .panel-default {
        height: auto;
    }
    .col-xs-12.col-sm-4.text-center {
        width: 50%;
        left: 25%;
    }
    img.center-block.img-circle.img-thumbnail.img-responsive {
        height: 70px;
        width: 65px;
    }
	
	.nav-tabs {
		border-bottom: 0px;
	}
	.nav-tabs > li > a {
		padding: 5px 5px 5px 5px;
	}
	.pull-right {
		float: left!important;
	}
	.visible-xs	.btn-xs {
		padding: 5px 10px 5px 10px;
		line-height: 1.5;
		border-radius: 5px;
	}
	.visible-xs .btn-xs:hover {
		background-color: black;
		color: white;
	}
	.btn .btn-primary .btn-xs {
		background-color: dodgerblue;
		color: white;
	}
	.btn-primary:focus {
		background-color: dodgerblue;
	}
	.btn-primary:active:focus:hover {
		background-color: black;
		color: white;

	}

    .input-group {
        float: right;
    }
	.tab-content {
		width: 75%;
	}
    .nav-tabs.nav-justified > li {
        display: inline-flex;
        float: left;
    }
}


/*	Appointment Center Page */
#futureappts {

}

#pastvisits {

}

#scheduleappt {

}
